<header class="cab"  id="header">
	
        <div class="titulo">
            <h1 id="titulo">
                TITOL
            </h1>
        </div>
		
		<div class="menu">
			<nav>
			<div class="menu-option"><a href="Ex2.html">Pàgina 1</a></div>
			<div class="menu-option"><a href="Ex2b.html">Pàgina 2</a></div>
			<div class="menu-option"><a href="#" id="enlace1" onclick="switch_style('estilo1');return false;">Estil 1</a></div>
			<div class="menu-option"><a href="#" id="enlace2" onclick="switch_style('estilo2');return false;">Estil 2</a></div>

			</nav>
		</div>

    
</header>