body {
	font-family: Arial;
	font-size: 2vw;
}

.flex-container {
    display: flex;
    /*background-color: #ccccff;
	border: 1px solid grey;*/
	justify-content: center;
}

.flex-item1 {
	color: red;
    background-color: #ccecff;
    border: 1px solid grey;
	text-align: center;
	padding: 1%;
}