body {
	font-family: "Arial", helvetica, arial, sans-serif;
	margin: 0;
	background-color: #e24e42;
  /* 
  font weight:    normal;
  font-size:      18px;
  line-height:    1.5; */
}

header.cab {
	display: flex;
	justify-content: space-between;
	background-color: #e9b000;
	box-shadow: 0 4px 4px -2px #000000;
	margin-bottom: 1vw;
	background: linear-gradient(to bottom, #f9c667 0%,#f79621 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.titulo {
	display: flex;
	width:100%;
	flex: 0 0 30vw;
}

h1 {
	font-weight: normal;
	font-family: Impact;
	font-size: 2vw;
	color: #e24e42;
	padding: 5%;
}
nav {
	display:flex;
}
.menu{
	display:flex;
	width: 100%;
	flex-direction: row;
	flex: 0 0 60vw;
	
}

.menu-option {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 10vw;
}

.flex-container {
    display: flex;
    /*background-color: #ccccff;
	border: 1px solid grey;*/
	justify-content: center;
}

.flex-item1 {
	color: red;
    background-color: #ccecff;
    border: 1px solid grey;
	text-align: center;
	padding: 1%;
}

a {
	text-decoration: none;
	color: #eb6e80;
	font-weight: bold;
	font-size: 1em;
}

a:hover {
	color: #008f95;
}

section {
	display: flex;
	width: 100%;
	min-height: 30vw;
	justify-content: center;
}

.espacio {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin: 1vw;
	flex-direction: column;
	background-color: #008f95;
	box-shadow: 0 4px 4px -2px #000000;
	border-radius: 10px 10px 25px 25px;
	background: linear-gradient(to bottom, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

article {
	display: flex;
	width: 80vw;
	border-style: dashed;
	border-color: #e9b000;
	background-color: #eb6e80;
	flex-direction: column;
	margin: 1vw;
	padding: 1vw;
	border-radius: 5px;
	background: linear-gradient(to bottom, #f7fbfc 0%,#d9edf2 40%,#add9e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

footer.pie{
	background-color: #4717f6; 
	color: #008f95;
	padding: 1vw;
	text-align: center;
	font-weight: bold;
	font-size: 1vw;
	background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: 0 4px 4px -2px #000000;
	margin-bottom: 1vw;
}

header.art {
	color: #4717f6;
	margin-bottom: 1vw;
}

footer.art {
	color: #4717f6;
	margin-top: 1vw;
	
}

/*
background-color: #0e0b16; void
background-color: #4717f6; jewel
background-color: #a239ca; fuschia
background-color: #e7dfdd; stark
*/

/*
background-color: #e24e42; papaya
background-color: #e9b000; mustard
background-color: #eb6e80; blush
background-color: #008f95; aqua
*/