body {
	font-family: "Arial", helvetica, arial, sans-serif;
	margin: 0;
	
  /* 
  font weight:    normal;
  font-size:      18px;
  line-height:    1.5; */
}

header.cab {
	display: flex;
	justify-content: space-between;
	background-color: #000000;
}
.titulo {
	display: flex;
	width:100%;
	flex: 0 0 30vw;
}

h1 {
	font-weight: bold;
	font-size: 2vw;
	color: #4717f6;
	padding: 5%;
}
nav {
	display:flex;
}
.menu{
	display:flex;
	width: 100%;
	flex-direction: row;
	flex: 0 0 60vw;
	
}

.menu-option {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 10vw;
}

.flex-container {
    display: flex;
    /*background-color: #ccccff;
	border: 1px solid grey;*/
	justify-content: center;
}

.flex-item1 {
	color: red;
    background-color: #ccecff;
    border: 1px solid grey;
	text-align: center;
	padding: 1%;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1em;
}

a:hover {
	color: #4717f6;
}

section {
	display: flex;
	width: 100%;
	background-color: #e7dfdd;
	min-height: 30vw;
	justify-content: center;
}

.espacio {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 1vw;
}

article {
	display: flex;
	width: 50vw;
	border-style: solid;
	border-color: #a239ca;
	flex-direction: column;
	margin: 1vw;
	padding: 1vw;
	border-radius: 5px;
}

footer.pie{
	background-color: #4717f6; 
	color: #e7dfdd;
	padding: 1vw;
	text-align: center;
	font-weight: bold;
	font-size: 1vw;
}

header.art {
	color: #4717f6;
	margin-bottom: 1vw;
}

footer.art {
	color: #4717f6;
	margin-top: 1vw;
}

/*
background-color: #0e0b16; void
background-color: #4717f6; jewel
background-color: #a239ca; fuschia
background-color: #e7dfdd; stark
*/

/*
background-color: #e24e42; papaya
background-color: #e9b000; mustard
background-color: #eb6e80; blush
background-color: #008f95; aqua
*/