body {
	font-family: Arial;
	font-size: 2vw;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #0f4363);
  background-image: -moz-linear-gradient(top, #3498db, #0f4363);
  background-image: -ms-linear-gradient(top, #3498db, #0f4363);
  background-image: -o-linear-gradient(top, #3498db, #0f4363);
  background-image: linear-gradient(to bottom, #3498db, #0f4363);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #15284a 5px;
  text-decoration: none;
  margin: 1vw;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.flex-container {
    display: flex;
    /*background-color: #ccccff;
	border: 1px solid grey;*/
	justify-content: center;
}

.flex-item1 {
	color: red;
    background-color: #ccecff;
    border: 1px solid grey;
	text-align: center;
	padding: 1%;
	width: 50vw;
}

.flex-item2{
	/*Estil pels nodes creats dintre de flex-item1 */
	margin: 1vw;
}

.flex-item-color0{
	background-color: Coral;
	color: white;
}

.flex-item-color1{
	background-color: red;
	color: white;
}

.flex-item-color2{
	background-color: cyan;
	color: white;
}

.flex-item-color3{
	background-color: purple;
	color: white;
}

.flex-item-color4{
	background-color: brown;
	color: white;
}

.flex-item-color5{
	background-color: yellow;
	color: white;
}

.flex-item-color6{
	background-color: blue;
	color: white;
}

.flex-item-color7{
	background-color: black;
	color: white;
}

.flex-item-color7{
	background-color: Aquamarine;
	color: white;
}

.flex-item-color8{
	background-color: Blueviolet;
	color: white;
}

.flex-item-color9{
	background-color: Cadetblue;
	color: white;
}